@media (max-width:1100px){
    #projects .projectsection .project{
        width: 48%;
    }
}
@media (min-width:900px) and (max-width:5200px) {
    .change {
        display: none;
    }
}
:root{
    --navy:#0c243c;
    --white:#fcf7f4;
}

@media (max-width:900px) {
    .languages, .frameworks{
        width: 107%;
    }
    nav .fa-xmark {
        display: none;
    }

    nav .fa-bars {
        display: inline-block;
    }

    .middle {
        height: 100px;
        flex-direction: column;
        position: absolute;
        text-align: center;
        top: 100%;
        right: 0%;
        width: 0vw;
        transition: width 0.2s ease-in;
    }

    .middle ul {
        flex-direction: column;
        background-color: white;
    }
    header nav .middle ul a{
        color: var(--navy);
    }

    .middle ul li {
        padding: 30px;
        margin-bottom: 10px;
    }

    .active {
        width: 100vw;
    }

    .hello ,.heading{
        font-size: 65px;
    }
    #aboutme h2{
        font-size: 32px;
    }
    .aboutme {
        font-size: 26px;
    }

    .moreabout,#aboutme h3 {
        font-size: 17px;
    }

    .btn {
        font-size: 20px;
    }

    .name {
        font-size: 50px;
    }
    .skills img{
        width: 120px;
        height: 120px;
    }
    .nav-2 ul{
        font-size: 20px;
        flex-direction: column;
        align-items: center;
    }
    /* .nav-2 ul a{
        margin-bottom: ;
    } */
    .contact{
        width: 80%;
    }
    .footer .icons a i{
        font-size: 1.4em;
    }
    .anchors a {
        font-size: 18px;
        padding: 7px 12px;
    }
    .content p{
        font-size: 15px;
    }
    .content h3{
        font-size: 27px;
    }
    .projectsection .project .image{
        height: 200px;
    }
}
@media (max-width:700px){
    #projects .projectsection .project{
        width: 80%;
    }
    .languages, .frameworks{
        width: 100%;
    }
}
@media (max-width:500px) {
    .languages, .frameworks{
        gap: 4rem;
    }
    #aboutme p{
        font-size: 20px;
    }
    #aboutme{
        width: 92%;
    }
    .languages, .frameworks{
        gap: 3rem;
    }
    .heading{
        font-size: 48px;
    }
    .hello {
        font-size: 59px;
    }

    .aboutme {
        font-size: 31px;
    }
    #aboutme h2{
        font-size: 26px;
    }
    .moreabout ,#aboutme h3{
        font-size: 20px;
    }

    .btn {
        font-size: 15px;
    }

    .name {
        font-size: 51px;
    }
    .maincontent {
        padding-top: 25vh;
        padding-left: 2vh;
        padding-right: 2vh;
    
    }
    .skills img{
        width: 100px;
        height: 100px;
    }
    .contact{
        width: 90%;
    }
    .footer .icons a i{
        font-size: 1.2em;
    }
    .logo img{
        width: 50px;
    }
    .projectsection .project .image{
        height: 190px;
    }
    #projects .projectsection .project{
        width: 100%;
    }

}
@media (max-width:350px){
    .hello {
        font-size: 38px;
    }
    .heading{
        font-size: 42px;
    }
    .aboutme {
        font-size: 22px;
    }
    .name {
        font-size: 37px;
    }
    .moreabout ,#aboutme h3{
        font-size: 16px;
    }
    .maincontent{
        width:91vw;
    }
    #aboutme p{
        font-size: 22px;
    }
    #aboutme{
        width: 97%;
    }
    .projectsection .project .image{
        height: 150px;
    }
    .languages, .frameworks{
        gap: 2.5rem;
    }
    .anchors a {
        font-size: 16px;
    }
    .content p{
        font-size: 13px;
    }
    .content h3{
        font-size: 25px;
    }
    .footer .icons a{
        height: 38px;
        width: 40px;
        margin: 6px;
    }
}